.caption {
    /*position: absolute;
    bottom: 0;*/
    margin-top: -10px;
    background: rgba(0, 0, 0, 0.75);
    color: #f2f2f2;
    padding: 15px 50px;
    text-align: center;
    font-size: 15px;
    width: 100%;
}

.close {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0;
    color: #fff;
    padding: 20px;
    font-size: 25pt;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 50px;
    text-align: center;
    background-color:  rgba(0, 0, 0, 1);
    width: 100%;
    height: 1200px;
}

#pic01large, #pic02large, #pic03large, #pic04large, #pic05large, #pic06large, #pic07large, #pic08large, #pic09large, #pic10large,
#pic11large, #pic12large, #pic13large, #pic14large, #pic15large, #pic16large, #pic17large, #pic18large, #pic19large, #pic20large,
#pic21large, #pic22large, #pic23large, #pic24large, #pic25large {
    display: none;
    margin: 0 auto;
    max-width: 100%;
}

#pic01large img, #pic02large img, #pic03large img, #pic04large img, #pic05large img, #pic06large img, #pic07large img, #pic08large img, #pic09large img, #pic10large img,
#pic11large img, #pic12large img, #pic13large img, #pic14large img, #pic15large img, #pic16large img, #pic17large img, #pic18large img, #pic19large img, #pic20large img,
#pic21large img, #pic22large img, #pic23large img, #pic24large img, #pic25large img {
    max-width: 100%;
}

#pic01 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/01-mainmenu-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic02 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/02-wakeupdark-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic03 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/03-bedroomlit-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic04 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/04-messybed-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic05 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/05-shelfdetail-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic06 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/06-drawerdetail-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic07 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/07-kitchen-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic08 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/08-livingroom-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic09 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/09-pans-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic10 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/10-depth-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic11 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/11-emptyfridge-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic12 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/12-cabinet-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic13 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/13-cereal-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic14 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/14-eggs-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic15 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/15-eggsdone-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic16 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/16-dreams-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic17 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/17-bathroom-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic18 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/18-buildingwillburn-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic19 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/19-spoiledmilkbathroom-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic20 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/20-grosshandsshelf-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic21 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/21-fridgewashhands-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic22 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/25-no3-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic23 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/22-20190208_163531-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic24 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/23-20190227_160713-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic25 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/24-20190228_110409-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}