.caption {
    margin-top: -10px;
    background: rgba(0, 0, 0, 0.75);
    color: #f2f2f2;
    padding: 15px 50px;
    text-align: center;
    font-size: 15px;
    width: 100%;
}

.close {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0;
    color: #fff;
    padding: 20px;
    font-size: 25pt;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 50px;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 1200px;
}

#pic01large, #pic02large, #pic03large, #pic04large, #pic05large, #pic06large, #pic07large, #pic08large, #pic08large, #pic09large {
    display: none;
    margin: 0 auto;
    max-width: 100%;
}

#pic01large img, #pic02large img, #pic03large img, #pic04large img, #pic05large img, #pic06large img, #pic07large img, #pic08large img, #pic08large img, #pic09large img {
    max-width: 100%;
}

#pic01 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/01-fullmodel-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic02 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/02-floor1windowdetail-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic03 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/03-floor2windowdetail-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic04 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/04-floor3windowdetail-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic05 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/05-roofdetail-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic06 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/06-inside-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic07 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/07-rockinghorse-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic08 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/09-hydrotherapyroom-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic09 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/08-fifthhospital-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}