.caption {
    /*position: absolute;
    bottom: 0;*/
    margin-top: -10px;
    background: rgba(0, 0, 0, 0.75);
    color: #f2f2f2;
    padding: 15px 50px;
    text-align: center;
    font-size: 15px;
    width: 100%;
}

.close {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0;
    color: #fff;
    padding: 20px;
    font-size: 25pt;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 50px;
    text-align: center;
    background-color:  rgba(0, 0, 0, 1);
    width: 100%;
    height: 1200px;
}

#pic01large, #pic02large {
    display: none;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

#pic01large img, #pic02large img {
    max-width: 100%;
}

#pic01 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/01-arduino-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic02 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/02-arduino-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}