.caption {
    /*position: absolute;
    bottom: 0;*/
    margin-top: -10px;
    background: rgba(0, 0, 0, 0.75);
    color: #f2f2f2;
    padding: 15px 50px;
    text-align: center;
    font-size: 15px;
    width: 100%;
}

.close {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0;
    color: #fff;
    padding: 20px;
    font-size: 25pt;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 50px;
    text-align: center;
    background-color:  rgba(0, 0, 0, 1);
    width: 100%;
    height: 1200px;
}

#pic01large, #pic02large, #pic03large, #pic04large, #pic05large, #pic06large, #pic07large, #pic08large, #pic09large, #pic10large,
#pic11large, #pic12large, #pic13large, #pic14large, #pic15large, #pic16large, #pic17large, #pic18large, #pic19large, #pic20large,
#pic21large, #pic22large, #pic23large, #pic24large {
    display: none;
    margin: 0 auto;
    max-width: 100%;
}

#pic01large img, #pic02large img, #pic03large img, #pic04large img, #pic05large img, #pic06large img, #pic07large img, #pic08large img, #pic09large img, #pic10large img,
#pic11large img, #pic12large img, #pic13large img, #pic14large img, #pic15large img, #pic16large img, #pic17large img, #pic18large img, #pic19large img, #pic20large img,
#pic21large img, #pic22large img, #pic23large img, #pic24large img {
    max-width: 100%;
}

#pic01 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/01_20181218_172757-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic02 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/02_20190306_134450-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic03 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/03_20190312_112801-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic04 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/04_20190312_112815-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic05 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/05_20190312_112827-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic06 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/06_20190312_123004-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic07 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/07_20190312_125131-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic08 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/08_20190312_133536-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic09 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/09_20190312_155946-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic10 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/10_20190312_165455-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic11 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/11_20190313_105027-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic12 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/12_20190313_130536-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic13 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/13_20190313_130851-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic14 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/14_20190313_143322-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic15 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/15_20190313_145347-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic16 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/16_20190313_161807-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic17 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/17_20190313_172038-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic18 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/18_20190314_110136-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic19 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/19_20190314_111745-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic20 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/20_20190314_115724-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic21 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/21_20190314_121900-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic22 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/22_20190314_122808-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic23 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/23_20190314_135424-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic24 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/24_tkdf-10-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}