.caption {
    margin-top: -10px;
    background: rgba(0, 0, 0, 0.75);
    color: #f2f2f2;
    padding: 15px 50px;
    text-align: center;
    font-size: 15px;
    width: 100%;
}

.close {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0;
    color: #fff;
    padding: 20px;
    font-size: 25pt;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 50px;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 1200px;
}

#pic01large, #pic02large, #pic03large, #pic04large, #pic05large, #pic06large, #pic07large, #pic08large, #pic09large, #pic10large,
#pic11large, #pic12large, #pic13large, #pic14large, #pic15large, #pic16large, #pic17large, #pic18large, #pic19large, #pic20large,
#pic21large, #pic22large {
    display: none;
    margin: 0 auto;
    max-width: 100%;
}

#pic01large img, #pic02large img, #pic03large img, #pic04large img, #pic05large img, #pic06large img, #pic07large img, #pic08large img, #pic09large img, #pic10large img,
#pic11large img, #pic12large img, #pic13large img, #pic14large img, #pic15large img, #pic16large img, #pic17large img, #pic18large img, #pic19large img, #pic20large img,
#pic21large img, #pic22large img {
    max-width: 100%;
}

#pic01 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/01-phsyical-model-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic02 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/02-maya-model-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic03 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/03-model-ui-projections-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic04 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/21-20190330-testing-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic05 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/22-20190408-projector-position-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic06 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/23-20190418-our-view-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic07 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/05-sibyl-general-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic08 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/16-sibyl-kidnapping-riley-perone-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic09 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/06-sibyl-prof-dead-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic10 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/17-sibyl-kidnapping-riley-perone-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic11 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/18-sibyl-entering-deadhead-riley-perone-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic12 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/07-sibyl-prof-deadhead-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic13 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/09-sibyl-prof-deadhead-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic14 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/13-sibyl-all3-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic15 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/14-sibyl-argue-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic16 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/12-sibyl-war-scene-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic17 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/11-sibyl-alley-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic18 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/10-sibyl-escape-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic19 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/08-sibyl-prof-deadhead-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic20 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/19-sibyl-entering-deadhead-riley-perone-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic21 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/04-sibyl-crack-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#pic22 {
    position: relative;
    isolation: isolate;
    z-index: 1;
    background-image: url(images/15-sibyl-end-title-laura-meltzer-small.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}